@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth
}

body {
  height: 100vh;
  background-color: rgb(31, 33, 45);
  background-image: linear-gradient(180deg, rgb(31, 33, 45), rgb(30, 35, 39));
  font-family: "Orbitron", sans-serif;
}

input,
span,
textarea {
  font-family: "Orbitron", sans-serif;
}

.container-dots {
  height: 100vh;
  background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='34' height='34' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform=''%3E%3Crect width='100%25' height='100%25' fill='rgba(71, 82, 91,0)'/%3E%3Ccircle cx='20' cy='20' r='2' fill='rgba(71, 82, 91,0.3)'/%3E%3Cpath d='M18 20aInfinityInfinity 0 0 0InfinityNaNaInfinityInfinity 0 0 0-InfinityNaN' fill='rgba(236, 201, 75,1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

nav ul li {
  padding: 10px 34px; 
  border-width: 3px;
  border-style: solid;
  border-color: rgba(115, 129, 160, 0.3);
  border-radius: 5px;
  /* color: rgba(115, 129, 160, 0.8); */
  color: rgb(115, 129, 160);
  cursor: pointer;
  position: relative;
  transition:  all 150ms ease-in;
}

.nav-link {
  text-decoration: none;
  color: rgb(129, 141, 167);
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  transition:  all 150ms ease-in;
}

/* inner nav boxes */
.inner-nav-box {
  width: 28px;
  height: 22px;
  background-color: rgb(115, 129, 160);
  border-radius: 1px;
  position: absolute;
  top: -4px;
  right: -4px;
  clip-path: polygon(0 0,100% 0,100% 100%,12px 100%,0 calc(100% - 12px));
  border-bottom: 3px solid rgb(31, 33, 45);
  border-left: 3px solid rgb(31, 33, 45);
  transition:  all 150ms ease-in;
}

.yellow {
  background-color: #fcd887;
}

.yellow-border {
  border-color: #fcd887;   
}

.yellow-text {
  color: #fcd887;
}

.red {
  background-color: #ff3131;
}

.red-border {
  border-color: #ff3131;
}

.red-text {
  color: #ff3131;
}

.turquoise {
  background-color: #cff5f6;
}

.turquoise-border {
  border-color: #cff5f6;
}

.turquoise-text {
  color: #cff5f6;
}

/* end inner nav boxes */

/* Header */
.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* padding-top: 35px; */
}

.header h1 {
  /* color: rgb(241, 165, 119); */
  color: rgb(172, 161, 192);
  color: rgb(250, 249, 251);
  font-size: 2.6rem;
  font-weight: 400;
  letter-spacing: 5px;
  text-shadow: -2px -2px 5px rgba(172, 161, 192,0.4);
  text-shadow: -2px -2px 5px rgba(250, 249, 251,0.4);

  margin-bottom: 20px;
}

.header h2 {
  color: rgb(250, 249, 251);
  text-shadow: -2px -2px 5px rgba(250, 249, 251,0.4);
  letter-spacing: 5px;
  /* color: #cff5f6; */
}
/* End Header */


/* corner boxes */
.box {
  width: 50px;
  height: 45px;
  border-radius: 1px;
  position: absolute;
  transition: all 150ms ease-in;
}

/* HTML5, CSS3, JavaScript, React, NextJs, Tailwind */

.box-top-left {
  border-bottom-right-radius: 6px;
  clip-path: polygon(0 28px,28px 0,100% 0,100% 100%,0 100%);
  top: 6px;
  left: 6px;
}

.box-top-right {
  border-bottom-left-radius: 6px;
  clip-path: polygon(0 0,calc(100% - 28px) 0,100% 28px,100% 100%,0 100%);
  top: 6px;
  right: 6px;
}

.box-bottom-left {
  border-top-right-radius: 6px;
  clip-path: polygon(0 0,100% 0,100% 100%,28px 100%,0 calc(100% - 28px));
  bottom: 6px;
  left: 6px;
}

.box-bottom-right {
  border-top-left-radius: 6px;
  clip-path: polygon(0 0,100% 0,100% calc(100% - 28px),calc(100% - 28px) 100%,0 100%);
  bottom: 6px;
  right: 6px;
}
/* End corner boxes */

/* bars */
.bar {
  height: 26px;
  border-radius: 1px;
  background-color: rgba(45, 48, 84, 0.5);
  position: absolute;
}

.bar-top-right {
  top: 10px;
  right: 20px;
  width: 300px;
  
  clip-path: polygon(0 0,100% 0,100% 100%,36px 100%,0 calc(100% - 36px));
  
}

.bar-top-left {
  top: 10px;
  left: 70px;
  width: 290px;

  clip-path: polygon(0 0,100% 0,100% calc(100% - 36px),calc(100% - 36px) 100%,0 100%);
}

.bar-right {
  width: 26px;
  height: 300px;
  clip-path: polygon(0 0,100% 0,100% 100%,36px 100%,0 calc(100% - 36px));
  right: 10px;
  top: 80px;
}

.bar-bottom {
  width: 26px;
  height: 140px;
  clip-path: polygon(0 36px,36px 0,100% 0,100% 100%,0 100%);
  right: 10px;
  bottom: 60px;
}

/* end bars */


/* card */

.cards {
  margin-top: 20px;
  display: flex;
  gap: 30px;
}
.card {
  /* height: 150px;
  width: 90px; */
  height: 200px;
  width: 120px;
  border: 2px solid rgb(250, 249, 251);
  border-radius: 12px;
  position: relative;
  color: rgb(250, 249, 251);
}

.card,
.card-box {
  box-shadow: 0px 0px 10px 0px rgba(250, 249, 251,0.5);
}

.inner-card {
  /* height: 150px;
  width: 90px; */
  height: 200px;
  width: 120px;
  border: 2px solid rgb(252,216,135);
  border-radius: 12px;
  position: absolute;
  top: -7px;
  right: -7px;
  /* color: rgb(252,216,135); */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* font-size: 2rem; */
  font-size: 2.5rem;
}

/* .inner-card,
.inner-card-box {
  box-shadow: 0px 0px 10px 0px rgba(252,216,135,0.5);
} */

.inner-card > h4 {
  margin-top: 5px;
  font-size: 0.8rem;
  /* text-shadow: 0px 0px 10px rgba(252,216,135,0.8); */
}

/* .inner-card svg {
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px rgba(252,216,135,0.5);
} */

.card-box,
.inner-card-box {
  position: absolute;
  border: 2px solid rgb(250, 249, 251);
  width: 14px;
  border-radius: 3px;
}

/* .inner-card-box { */
  /* border-color: rgb(252,216,135); */
  /* border-color: red; */
/* } */

.card-top-left,
.inner-card-top-left {
  top: 0px;
  left: 0px;
  height: 40px;
  border-top-left-radius: 12px;
}

.card-top-right,
.inner-card-top-right {
  top: 0px;
  right: 0px;
  height: 40px;
  border-top-right-radius: 12px;
}

.card-bottom-left ,
.inner-card-bottom-left {
  bottom: 0px;
  left: 0px;
  height: 20px;
  border-bottom-left-radius: 12px;
}

.card-bottom-right,
.inner-card-bottom-right {
  bottom: 0px;
  right: 0px;
  height: 20px;
  border-bottom-right-radius: 12px;
}

/* end Cards */

/* projects */
#projects {
  margin: 0 auto;
}

#projects h1 {
  padding-top: 18px;
  /* padding-bottom: 0px; */
  margin-bottom: 10px;
}

.container-blue {
  background-color: rgba(48, 51, 86, 0.2);
  width: fit-content;
  /* height: 68vh; */
  height: 73vh;
  border-radius: 3px;
  padding: 20px;
  clip-path: polygon(0 40px,40px 0,100% 0,100% calc(100% - 40px),calc(100% - 40px) 100%,0 100%);
  display: grid;
  grid-template-columns: 590px 590px;
  gap: 50px;
  overflow-y: scroll;
  /* z-index: 1; */
}

/* width */
.container-blue::-webkit-scrollbar {
  width: 14px;
}

/* Track */
.container-blue::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(115, 129, 160); 
}
 
/* Handle */
.container-blue::-webkit-scrollbar-thumb {
  border: 1px solid white;
}

/* Handle on hover */
.container-blue::-webkit-scrollbar-thumb:hover {
  background: rgb(46,51,85); 
}

.project {
  display: flex;
  gap: 30px;
  width: 590px;
  z-index: 2;
}

.project-image {
  position: relative;
  height: 330px;
  width: 265px;
  max-width: 265px;
  background-color: rgb(255, 49, 49);
  clip-path: polygon(10% 0, 100% 0, 100% 0, 100% 95%, 95% 100%, 0 100%, 0 95%, 0 10%);
  padding: 2px;
}

/* .stripes {
  width:  261px;
  height: 326px;
  background-image: linear-gradient(180deg, #d1cacc 25%, #889094 25%, #889094 50%, #d1cacc 50%, #d1cacc 75%, #889094 75%, #889094 100%);
  background-size: 14.00px 14.00px;
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 2;
  opacity: 0.4;
  clip-path: polygon(10% 0, 100% 0, 100% 0, 100% 95%, 95% 100%, 0 100%, 0 95%, 0 10%);
} */

.image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 261px;
  height: 326px;
  clip-path: polygon(10% 0, 100% 0, 100% 0, 100% 95%, 95% 100%, 0 100%, 0 95%, 0 10%);
}

.project-image img {
  /* position: absolute; */
  /* top: 1px;
  left: 1px;
  height: 328px;
  width: 263px; */


  /* top: 2px;
  left: 2px;
  height: 326px;
  width: 261px; */
  
  width: 100%;
  height: 100%;
  clip-path: polygon(10% 0, 100% 0, 100% 0, 100% 95%, 95% 100%, 0 100%, 0 95%, 0 10%);
  object-fit: fill;
}

.project-image .text {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 40px;
  background-color: rgba(43, 10, 10, 0.536);
  color: rgb(255, 49, 49);
  padding-left: 10px;
  padding-top: 10px;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 600;
}

.info {
  color: rgb(250, 249, 251);
  text-shadow: -2px -2px 5px rgba(250, 249, 251,0.4);
  width: 295px;
  height: 330px;
  display: flex;
  /* align-items: flex-start; */
  /* justify-content: space-between; */
  flex-direction: column;
  /* margin-top: 20px;
  margin-bottom: 20px; */
}


.React { 
  color: rgb(0, 216, 255);
}

.react-card-shadow {
  box-shadow: 0px 0px 10px 0px rgba(0, 216, 255,0.5);
  border-color: rgb(0, 216, 255);
}

.react-text-shadow {
  text-shadow: 0px 0px 10px rgba(0, 216, 255,0.8);
}

.TypeScript {
  color: rgb(49, 120, 198);
}

.typescript-card-shadow {
  box-shadow: 0px 0px 10px 0px rgba(49, 120, 198,0.5);
  border-color: rgb(49, 120, 198);
}

.typescript-text-shadow {
  text-shadow: 0px 0px 10px rgba(49, 120, 198,0.8);
}

.Tailwind {
  color: rgb(56, 189, 248);
}

.tailwind-card-shadow {
  box-shadow: 0px 0px 10px 0px rgba(56, 189, 248,0.5);
  border-color: rgb(56, 189, 248);
}

.tailwind-text-shadow {
  text-shadow: 0px 0px 10px rgba(56, 189, 248,0.8);
}

.HTML { 
  color: rgb(239, 101, 42);  
  /* color: #e34f26; */
}

.html-card-shadow {
  box-shadow: 0px 0px 10px 0px rgba(239, 101, 42,0.5);
  border-color: rgb(239, 101, 42);
}

.html-text-shadow {
  text-shadow: 0px 0px 10px rgba(239, 101, 42,0.8);
}

.CSS { 
  color: rgb(12, 115, 184); 
}

.css-card-shadow {
  box-shadow: 0px 0px 10px 0px rgba(12, 115, 184,0.5);
  border-color: rgb(12, 115, 184);
}

.css-text-shadow {
  text-shadow: 0px 0px 10px rgba(12, 115, 184,0.8);
}

.Framer { 
  color: rgb(173, 3, 255);
}

.framer-card-shadow {
  box-shadow: 0px 0px 10px 0px rgba(173, 3, 255,0.5);
  border-color: rgb(173, 3, 255);
}

.framer-text-shadow {
  text-shadow: 0px 0px 10px rgba(173, 3, 255,0.8);
}

.JavaScript{ 
  color: rgb(240, 219, 79);
}

.javascript-card-shadow {
  box-shadow: 0px 0px 10px 0px rgba(240, 219, 79,0.5);
  border-color: rgb(240, 219, 79);
}

.javascript-text-shadow {
  text-shadow: 0px 0px 10px rgba(240, 219, 79,0.8);
}

.Next{ 
  color: rgb(255, 255, 255);
}

.next-card-shadow {
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255,0.5);
  border-color: rgb(255, 255, 255);
}

.next-text-shadow {
  text-shadow: 0px 0px 10px rgba(255, 255, 255,0.8);
}


.technologies {
  display: flex;
  gap: 10px;
  /* color: rgb(255, 49, 49); */
  /* text-shadow: -1px -1px 3px rgb(255, 49, 49); */
  /* color: #f0db4f; */
  color: #fff;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 5px;
}

.description {
  margin-top: 20px;
  line-height: 20px
}

.code-web {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.info h3 {
  /* padding-top: 8px;
  padding-bottom: 8px; */
  padding-top: 12px;
  padding-bottom: 12px;
  border-top: 2px solid rgb(255, 49, 49);
  border-bottom: 2px solid rgb(255, 49, 49);
  color: rgb(255, 49, 49);
  text-shadow: -1px -1px 2px rgb(255, 49, 49, 0.8);
  text-align: center;
  text-transform: uppercase;
  /* box-shadow: 0px 2px 4px 0px rgba(255, 49, 49,0.2),0px -2px 4px 0px rgba(255, 49, 49,0.2); */
  /* background-color: rgba(255, 49, 49,0.05); */
}

.btn {
  position: relative;
  /* width: 150px;
  height: 30px; */
  width: 180px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
}

.btn:before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgb(255, 49, 49);
  clip-path: polygon(0 12px,12px 0,100% 0,100% calc(100% - 12px),calc(100% - 12px) 100%,0 100%,0 12px,2px  calc(12px + 0.83px),2px calc(100% - 2px),calc(100% - 12px - 0.83px) calc(100% - 2px),calc(100% - 2px) calc(100% - 12px - 0.83px),calc(100% - 2px) 2px,calc(12px + 0.83px) 2px,2px calc(12px + 0.83px));

  overflow: hidden;
}

.btn span {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-weight: 400;
  transition: all 150ms ease-in;
  /* width: 148px;
  height: 28px; */
  width: 178px;
  height: 38px;
  overflow: hidden;
  /* background-color: blue; */
  clip-path: polygon(0 12px,12px 0,100% 0,100% calc(100% - 12px),calc(100% - 12px) 100%,0 100%);

}

.btn span svg {
  box-shadow: 0px 0px 4px rgba(250, 249, 251,0.4);
  border-radius: 50%;
}

.btn:hover span {
  background-color: rgba(255, 49, 49, 0.1);
}



/* Contact */
#contact {
  height: 500px;
  width: 400px;
}
#contact .contact-header {
  color: aqua;
  font-size: 3rem;
}

.form-container {
  border-left: 1px solid aqua;
  border-right: 1px solid aqua;
  height: 400px;
  width: 400px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 50px;
}

.shape-top-right {
  position: absolute;
  top: -30px;
  right: 0px;
  width: 150px;
  height: 30px;
  /* background-color: rgba(0, 255, 255, 0.092); */
}

.shape-top-top {
  width: 150px;
  height: 1px;
  background-color: aqua;
  position: absolute;
  top: 4px;
  right: 30px;
}

.shape-top-left {
  width: 1px;
  height: 20px;
  background-color: aqua;
  position: absolute;
  top: 2px;
  right: 186px;
  transform: rotate(45deg);
}

.shape-top-right-line {
  width: 1px;
  height: 40px;
  background-color: aqua;
  position: absolute;
  right: 14px;
  bottom: -8px;
  transform: rotate(130deg);
}




.left-bar,
.right-bar {
  height: 180px;
  width: 5px;
  background-color: aqua;
  position: absolute;
  top: 25%;
}

.left-bar {
  left: 0px;
}

.right-bar {
  right: 0px;
}

.triangle-left-bottom {
  width: 0;
  height: 0;
  border-top: 5px solid aqua;
  border-right: 5px solid transparent;
  position: absolute;
  bottom: -4px;
}

.triangle-left-top {
  width: 0;
  height: 0;
  border-bottom: 5px solid aqua;
  border-right: 5px solid transparent;
  position: absolute;
  top: -4px;
}

.triangle-right-top {
  width: 0;
  height: 0;
  border-bottom: 5px solid aqua;
  border-left: 5px solid transparent;
  position: absolute;
  top: -4px;
}

.triangle-right-bottom {
  width: 0;
  height: 0;
  border-top: 5px solid aqua;
  border-left: 5px solid transparent;
  position: absolute;
  bottom: -4px;
}


form {
  display: flex;
  flex-direction: column;
  width: 340px;
}

form label:last-of-type {
  position: relative;
  /* width: 300px; */
  width: 100%;
  height: 100px;
  color: white;
  margin-bottom: 40px;
}

form label:first-of-type,
form label:nth-of-type(2) {
  position: relative;
  height: 40px;
  /* width: 300px; */
  width: 100%;
  margin-bottom: 16px;
}

form label:first-of-type:before,
form label:nth-of-type(2):before,
form label:last-of-type:before {
  content: "";
  position: absolute;
  inset: 0;
  /* clip-path: polygon(0 0,calc(100% - 16px) 0,100% 16px,100% 100%,0 100%,0 0,2px  2px ,2px calc(100% - 2px),calc(100% - 2px) calc(100% - 2px),calc(100% - 2px) calc(16px + 0.83px),calc(100% - 16px - 0.83px) 2px,2px 2px); */
  clip-path: polygon(0 0,calc(100% - 16px) 0,100% 16px,100% 100%,0 100%,0 0,1px  1px ,1px calc(100% - 1px),calc(100% - 1px) calc(100% - 1px),calc(100% - 1px) calc(16px + 0.83px),calc(100% - 16px - 0.83px) 1px,1px 1px);

  /* color: white; */
  background-color: blue;

  /* z-index: 1; */
}

form input {
  /* z-index: 3; */
  width: 280px;
  height: 40px;
  /* background-color: violet; */
  background-color: transparent;
  border: none;
  outline: none;
  padding-left: 10px;
  color: white;
}

::placeholder {
  color: red;
}

/* code the carret later */

textarea {
  width: 100%;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
  padding: 7px 10px;
}

.submit {
  position: relative;
  /* width: 150px;
  height: 30px; */
  width: 240px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  border: none;
  background-color: transparent;
  margin-left: auto;
}

.submit:before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgb(255, 49, 49);
  /* clip-path: polygon(0 0,calc(100% - 12px) 0,100% 12px,100% 100%,0 100%,0 0,2px  2px ,2px calc(100% - 2px),calc(100% - 2px) calc(100% - 2px),calc(100% - 2px) calc(12px + 0.83px),calc(100% - 12px - 0.83px) 2px,2px 2px);
  clip-path: polygon(0 0,100% 0,100% 100%,24px 100%,0 calc(100% - 24px),0 0,2px  2px ,2px calc(100% - 24px - 0.83px),calc(24px + 0.83px) calc(100% - 2px),calc(100% - 2px) calc(100% - 2px),calc(100% - 2px) 2px,2px 2px); */
  /* clip-path: polygon(0 0,calc(100% - 24px) 0,100% 24px,100% 100%,24px 100%,0 calc(100% - 24px),0 0,2px  2px ,2px calc(100% - 24px - 0.83px),calc(24px + 0.83px) calc(100% - 2px),calc(100% - 2px) calc(100% - 2px),calc(100% - 2px) calc(24px + 0.83px),calc(100% - 24px - 0.83px) 2px,2px 2px); */
  overflow: hidden;

  /* clip-path: polygon(0 0,calc(100% - 24px) 0,100% 24px,100% 100%,24px 100%,0 calc(100% - 24px),0 0,2px  2px ,2px calc(100% - 24px - 0.83px),calc(24px + 0.83px) calc(100% - 2px),calc(100% - 2px) calc(100% - 2px),calc(100% - 2px) calc(24px + 0.83px),calc(100% - 24px - 0.83px) 2px,2px 2px);
  clip-path: polygon(0 0,calc(100% - 12px) 0,100% 12px,100% 100%,12px 100%,0 calc(100% - 12px),0 0,2px  2px ,2px calc(100% - 12px - 0.83px),calc(12px + 0.83px) calc(100% - 2px),calc(100% - 2px) calc(100% - 2px),calc(100% - 2px) calc(12px + 0.83px),calc(100% - 12px - 0.83px) 2px,2px 2px);
   */
/* clip-path: polygon(0 0,calc(100% - 12px) 0,100% 12px,100% 100%, 24px 100%,0 calc(100% - 12px),0 0,2px  2px ,2px calc(100% - 12px - 0.83px),calc(24px + 0.83px) calc(100% - 2px),calc(100% - 2px) calc(100% - 2px),calc(100% - 2px) calc(12px + 0.83px),calc(100% - 12px - 0.83px) 2px,2px 2px); */
clip-path: polygon(0 0,calc(100% - 20px) 0,100% 20px,100% 100%,20px 100%,0 calc(100% - 20px),0 0,2px  2px ,2px calc(100% - 20px - 0.83px),calc(20px + 0.83px) calc(100% - 2px),calc(100% - 2px) calc(100% - 2px),calc(100% - 2px) calc(20px + 0.83px),calc(100% - 20px - 0.83px) 2px,2px 2px);
}

.submit span {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.1rem;
}

.submit:hover span {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 255, 255, 0.418);

  clip-path: polygon(0 0,calc(100% - 20px) 0,100% 20px,100% 100%,20px 100%,0 calc(100% - 20px));
}
